@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
@import url('https://fonts.cdnfonts.com/css/amsterdam-2');

* {
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    font-size: 100%;
    background: linear-gradient(68.15deg, #1b71a3 16.62%, #630366b4 85.61%)
}

.header {
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 6px;
}

.header-image {
    height: 80px;
}

.header-menu {
    display: flex;
    gap: 32px;
}

.header-menu-item {
    font-family: 'Sarala', sans-serif;
    color: #FFF2E7;
    font-weight: 400;
    font-size: 18px;
}

.content {
    margin-bottom: 48px;
    border-top: 0.4px solid #FFF2E7;
}

.content-main {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.content-main-written {
    display: flex;
    flex-direction: column;
    gap: 32px;
    margin-left: 103px;
    align-items: center;

}

.content-main-written-title {
    font-family: 'Amsterdam', sans-serif;
    font-weight: 400;
    font-size: 48px;
    color: #FFF2E7;
    border-bottom: 0.4px solid #FFF2E7;

}

.content-main-written-subtitle {
    font-family: 'Sarala', sans-serif;
    font-weight: 400;
    font-size: 24px;
    color: #FFF2E7;
    text-align: center;
}

.content-main-written-button {
    background-color: #ECD6C4;
    width: 180px;
    height: 60px;
    border: none;
    box-shadow: 4px 5px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    font-family: 'Sarala', sans-serif;
    font-weight: 400;
    font-size: 24px;
    color: #2f2325
}
.content-main-written-button:hover {
    background-color: #63036677;
}

.content-main-image {
    height: 500px;
    margin-right: 130px;
}

.content-secondary {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    margin-top: 48px;
}

.content-secondary-title {
    border-top: 0.4px solid #FFF2E7;
    padding-top: 48px;
    font-family: 'Righteous', cursive;
    font-weight: 400;
    font-size: 24px;
    color: #FFF2EF;
    margin-bottom: 16px;
}

.content-secondary-paragraph {
    font-family: 'Sarala', sans-serif;
    font-weight: 300;
    font-size: 18px;
    color: #ECD6C4;

}

.footer {
    padding: 32px;
    border-top: 0.4px solid #FFF2E7;
}

.footer-image {
    height: 64px;
    display: block;
    margin: 0 auto;
}